body {
	background-image:url(../images/background.jpg);
	background-size:cover;
}

header{
	text-align:center;
	margin: 10px auto;
}

.giph {
	border-radius:20px;
	max-height:70%;
	max-width:98%;
	margin-bottom:none;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
.disney {
	height:100px;
	width:250px;
	vertical-align:middle;
}

span {
	padding-left:20px;
}

h1 {
	margin: 10px auto;
	font-family: 'Francois One', sans-serif;
	font-size:54px;
}
.container {
	width:55%;
	background-color: rgba(232, 235, 239, 0.6);
	margin:0 0 0 20px;
	height:450px;
	border-radius:20px;
	text-align:center;
	font-family: 'PT Sans', sans-serif;
	font-size:20px;
	position:relative;
}

#startButton{
	margin-top:10px;
	padding:5px;
	width:100px;
	font-family: 'Francois One', sans-serif;
	font-size:20px;
}
#startButton:hover{
	cursor:pointer;
}
.answer{
	padding:5px;
	margin: 10px auto;
	width:40%;
}
.answer:hover{
	background:#e3cdf4;
	cursor:pointer;
}

#status{
	font-size:22px;
	font-weight:bold;
}

.stat {
	margin:10px;
}

.questionBox{
	visibility:hidden;
}

.timer {
	font-weight:bolder;
	font-size:25px;
	margin-left:20px;
}


